*{
    margin:0;
    padding:0;
}
body{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: lightgray;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 40px;
}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 4px;
}
h2{
    margin-bottom: 15px;
}
p{
    color: gray;
    font-size: 13px;
    margin-bottom: 15px;
}
.details p a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.buttons a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}
.buttons{
    margin-top: 35px;
}
.buttons a:hover{
    background-color: bisque;
}